@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main{
width: 100%;
}

#content {
    height: 100%;
    
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p{
    margin: 0;
}

.sidebar-icon ion-icon{
    font-size: 1.5em;
}

#topbar {
height: 8vh;
display: flex;
justify-content: space-between;
align-items: center;

}

#logo{
height: 45%;
    }

#search-wrapper {
 display: flex;
 height: 40%;
 
}

#topbar-icons {
display: flex;

}

.topbar-icon ion-icon{
    font-size: 2em;
    padding: 0 0.3em;
}
#mic-icon {
margin: 0 0.5em;
}

#mic-icon ion-icon{
  font-size: 1.7em;
}

#search-btn {
    padding: 0 0.6em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

#content-immagine{
    display: grid;
    gap: 28px 0px;
    grid-template-columns: 2fr 2fr 2fr;

    
}
.immagine1 {
    padding-top: 8%;
   padding-left: 2%;
    
   
}
.immagine2 {
    padding-top: 8%;
    padding-left: 2%;
    
}
.immagine3 {
    padding-top: 8%;
    padding-left: 2%;
   
}
.immagine4 {
    padding-top: 8%;
    padding-left: 2%;
   
}
.immagine5 {
    padding-top: 8%;
    padding-left: 2%;
 
}
.immagine6 {
    padding-top: 8%;
    padding-left: 2%;

}

pre{
    font-family: 'Roboto', sans-serif; 
}

span{
    color: rgb(122, 122, 122);
}

#content-logo-e{
    display: grid;
    gap: 26px 17px;
    grid-template-columns: 2fr 2fr 2fr;


  
    
}

#tt-testo{
    display: grid;
    gap: 26px 17px;
    grid-template-columns: 2fr 2fr 2fr;


}


.testo1{
    display: inline-block;
    position: relative;
    bottom: 423px;
    left: 25px;
}

.logo-e{
    display: inline-block;
    position: relative;
    bottom: 308px;
    left: 10px;
}


.testo2{
    display: inline-block;
    position: relative;
    bottom: 423px;
    left: 25px;
}

.logo-e1{
    display: inline-block;
    position: relative;
    bottom: 308px;
    left: 10px;
}

.testo3{
    display: inline-block;
    position: relative;
    bottom: 423px;
    left: 25px;  
}
.logo-e2{
    display: inline-block;
    position: relative;
    bottom: 308px;
    left: 10px;  
}

.testo4{
    display: inline-block;
    position: relative;
    bottom: 206px;
    left: 25px;  
}

.logo-e3{
    display: inline-block;
    position: relative;
    bottom: 60px;
    left: 10px;    
}

.testo5{
    display: inline-block;
    position: relative;
    bottom: 206px;
    left: 25px;  
}
.logo-e4{
    display: inline-block;
    position: relative;
    bottom: 60px;
    left: 10px;    
}

.testo6{
    display: inline-block;
    position: relative;
    bottom: 206px;
    left: 25px;  
}

.logo-e5{
    display: inline-block;
    position: relative;
    bottom: 60px;
    left: 10px;    
}
